@media (min-width: 992px) and (max-width: 1199px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 20px;
  }
  .welcome-text > h1 {
    font-size: 44px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 30vmax;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 20vmax;
    float: right;
    top: 10px;
  }
  .newsletter_heading > h2 {
    font-size: 26px;
  }
  .newsletter_heading > p {
    font-size: 13px;
  }
  .subscribe-form .email {
    padding: 10px;
  }
  .some_fact_area {
    padding-left: 100px;
  }
  .dream-faq-area dt > span {
    margin-right: 15px;
  }
  .faq-title > h2 {
    left: -130px;
  }
  .dream-faq-area dd p {
    padding: 15px;
  }
  .dream-faq-area dt {
    padding: 15px 70px;
    font-size: 14px;
  }
  .dream-faq-area dt > span {
    padding: 17px 30px;
  }
  .portfolio_gallery_iteam {
    width: 33.333%;
  }
  .about_us_thumb_2 {
    width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome_area {
    width: 100%;
    display: flex;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 20vmax;
    float: left;
  }
  .splash {
    left: -120px;
  }
  .welcome-text {
    position: absolute;
    left: -280px;
    top: 35px;
  }
  .welcome-text > h1 {
    font-size: 55px;
    line-height: 1.5;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 35vmax;
    left: 150px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
  .about_us_content > h1 {
    font-size: 24px;
  }
  .about_us_content > p {
    font-size: 14px;
  }
  .portfolio_gallery_iteam {
    width: 50%;
  }
  .blog_text > a > h4 {
    font-size: 20px;
  }
  .blog_text > p {
    font-size: 14px;
  }
  .newsletter_heading > h2 {
    font-size: 20px;
  }
  .newsletter_heading > p {
    font-size: 13px;
  }
  .subscribe-form .email {
    padding: 8px;
    font-size: 12px;
  }
  .subscribe-form .submit {
    min-width: 110px;
    right: 6%;
    font-size: 13px;
  }
  .some_fact_area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .faq-title > h2 {
    display: none;
  }
  .about_us_thumb {
    margin-right: 0;
  }
  .welcome_slides_area .owl-prev {
    left: 15px;
  }
  .welcome_slides_area .owl-next {
    right: 15px;
  }
  .about_us_thumb_2 {
    width: 230px;
    right: 1%;
  }

  .how_we_single_content > p {
    font-size: 12px;
  }
  .how_we_single_content > h5 {
    font-size: 16px;
  }
  .welcome_area {
    height: 600px;
  }
  .work_process_single_content > h5 {
    font-size: 16px;
  }
  .work_process_single_content > p {
    font-size: 13px;
  }
  .footer_social_icon > a > i {
    margin-bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .col-12 {
    width: 90%;
  }
  .classy-navbar {
    height: 60px;
  }
  .welcome_area {
    width: 100%;
    height: 500px;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  #welcome {
    padding-right: 50px;
  }
  .welcome-text > h1 {
    font-size: 30px;
    line-height: 1.7;
    text-align: center;
    padding-top: -80px !important;
  }
  .splash {
    left: 40px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 20vmax;
    left: -100px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
  .section-heading > span {
    font-size: 30px;
    top: -30px;
  }
  .portfolio_gallery_iteam {
    width: 100%;
  }
  .section-heading > h2 {
    font-size: 22px;
  }
  .newsletter_heading > h2 {
    font-size: 22px;
  }
  .newsletter_heading {
    margin-bottom: 30px;
  }
  .newsletter_heading > p {
    font-size: 14px;
  }
  .subscribe-form .submit {
    min-width: 120px;
    right: 6%;
    font-size: 12px;
  }
  .btn.btn-md {
    margin-bottom: 15px;
  }
  .subscribe-form .email {
    font-size: 12px;
  }
  .contact_address_area {
    margin-top: 100px;
  }
  .video_area,
  .some_fact_area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .video_area {
    height: 500px;
  }
  .video_text_icon > h6 {
    font-size: 20px;
  }
  .video_text_icon > p {
    font-size: 16px;
  }
  .some_fact_area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .dream-faq-area dd p {
    font-size: 12px;
  }
  .faq-title > h2 {
    display: none;
  }
  .dream-faq-area dt {
    padding: 12px 60px;
    font-size: 14px;
  }
  .dream-faq-area dt > span {
    padding: 14px 20px;
    font-size: 12px;
    margin-right: 10px;
  }
  .about_us_thumb {
    margin-right: 40px;
  }
  .about_us_content > h1 {
    font-size: 24px;
    font-weight: 800;
    color: #f8bbcc;
  }
  .about_us_content > h2 {
    font-size: 18px;
    text-align: justify;
  }
  .about_us_content > h4 {
    font-size: 16px;
  }
  .about_us_content {
    color: #f8bbcc;
    margin-top: 50px;
  }
  #scrollUp {
    right: 20px;
  }
  .welcome_slides_area .owl-prev,
  .welcome_slides_area .owl-next {
    display: none;
  }
  .cd-headline {
    font-size: 30px;
  }
  .cd-intro.default-title > p {
    font-size: 15px;
  }
  .about_us_thumb_2 {
    width: 200px;
  }
  .contact_deatils {
    -webkit-box-flex: 0;
    -ms-flex: 0 0100%;
    flex: 0 0100%;
    min-width: 100%;
  }
  #googleMap {
    height: 600px !important;
  }
  .contact_info {
    width: 50%;
  }
  .contact_info {
    margin-bottom: 30px;
  }
  .contact_info:last-child {
    margin-bottom: 0;
  }
  .contact_form {
    padding-right: 15px;
    padding-left: 15px;
  }
  .how_we_work_thumb {
    height: 500px;
  }
  .contact_deatils {
    margin-top: 50px;
  }
  .service_icon {
    margin-left: 15px;
  }
  .blog_text > a {
    font-size: 14px;
  }
  .welcome-text.cd-intro > h1 {
    font-size: 46px;
  }
  .work_process_icon {
    display: none;
  }
  .work_process_single_content {
    padding: 30px 40px 30px 30px;
  }
  .work_process_single_content.right-fea {
    padding-right: 30px;
    text-align: left !important;
  }
  .welcome-btn {
    min-width: 180px;
  }
  .side_iamge {
    opacity: 0.2;
  }
  .info > h1 {
    font-size: 20px !important;
  }
  .info > button {
    text-align: center;
    position: relative;
    left: 100px;
  }
  .service_text > img {
    padding: 55px;
  }
  .modal-backdrop {
    --bs-backdrop-zindex: 0 !important;
    --bs-backdrop-bg: none !important;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  #welcome {
    text-align: center;
    padding-right: 50px;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 30vmax;
    left: -170px;
    z-index: -1;
  }
  .welcome-text > h1 {
    font-size: 40px;
  }
  .about_us_thumb_2 {
    width: 300px;
  }
  .section-heading > h2 {
    font-size: 28px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .welcome-text > h1 {
    font-size: 45px;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 25vmax;
    left: -70px;
  }
  .about_us_thumb_2 {
    width: 300px;
  }
  .section-heading > h2 {
    font-size: 28px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .welcome-text > h1 {
    font-size: 48px;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 30vmax;
    left: -50px;
  }
  .section-heading > h2 {
    font-size: 30px;
  }
  .section-heading > span {
    top: 50px;
  }
  .blog_text > a > h4 {
    font-size: 20px;
  }
  .newsletter_heading > h2 {
    font-size: 28px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .bookus {
    position: absolute;
    width: 50%;
    left: 100px;
  }
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .welcome-text > h1 {
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    margin-right: 50px;
  }
  .splash {
    left: 40px;
    width: 80%;
    top: 20px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 29vmax;
    left: -140px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
}

@media (min-width: 1023px) and (max-width: 1024px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 20px;
  }
  .welcome-text > h1 {
    font-size: 44px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 30vmax;
    right: 30;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 20vmax;
    float: right;
    top: 10px;
  }
}

@media (min-width: 374px) and (max-width: 375px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .welcome-text > h1 {
    font-size: 35px;
    line-height: 1.7;
    text-align: center;
  }
  .splash {
    left: 40px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 29vmax;
    left: -60px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
}

/***** Iphone 11 *****/
@media (min-width: 413px) and (max-width: 414px) {
  .bookus {
    position: absolute;
    left: 125px;
  }
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .welcome-text > h1 {
    font-size: 35px;
    line-height: 1.7;
    text-align: center;
  }
  .splash {
    left: 40px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 29vmax;
    left: -60px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
}

/***** End Iphone 11 *****/

/***** iphone 11 pro *****/
@media (min-width: 374px) and (max-width: 375px) {
  .bookus {
    position: absolute;
    left: 110px;
  }
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .welcome-text > h1 {
    font-size: 35px;
    line-height: 1.7;
    text-align: center;
  }
  .splash {
    left: 40px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 29vmax;
    left: -100px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
}
/***** End iphone 11 pro *****/

/***** iphone12 *****/
@media (min-width: 389px) and (max-width: 390px) {
  .bookus {
    position: absolute;
    left: 110px;
  }
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 150px;
  }
  .welcome-text > h1 {
    font-size: 35px;
    line-height: 1.7;
    text-align: center;
  }
  .splash {
    left: 40px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 29vmax;
    left: -75px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
}
/***** iphone12 *****/

/***** 12 pro max *****/
@media (min-width: 427px) and (max-width: 428px) {
  .bookus {
    position: absolute;
    left: 120px;
  }
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    top: 150px;
    z-index: 1000;
    width: 110px;
  }
  .welcome-text > h1 {
    font-size: 35px;
    line-height: 1.7;
    text-align: center;
  }
  .splash {
    left: 40px;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 29vmax;
    left: -160px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
}
/***** End 12 pro max*****/

/***** Laptop 1360x1366 *****/
@media (min-width: 1360px) and (max-width: 1366px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 50px;
  }
  .welcome-text > h1 {
    font-size: 50px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 28vmax;
    left: 80px;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 12vmax;
    right: 22px;
  }
}

/***** End Laptop 1360x1366 *****/
/***** 1156 to 1199 *****/
@media (min-width: 1156px) and (max-width: 1199px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 50px;
  }
  .welcome-text > h1 {
    font-size: 45px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 28vmax;
    left: 80px;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 14vmax;
    right: 5px;
    top: 12px;
  }
}
/***** End 1156 to 1199 *****/

/***** 1200 to 1369 *****/
@media (min-width: 1200px) and (max-width: 1360px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 50px;
  }
  .welcome-text > h1 {
    font-size: 50px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 28vmax;
    left: 80px;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 14vmax;
    right: 45px;
    top: 18px;
  }
}
/***** End 1200 to 1369 *****/

/***** upto 1399 *****/
@media (min-width: 1367px) and (max-width: 1399px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 50px;
  }
  .welcome-text > h1 {
    font-size: 45px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 28vmax;
    left: 80px;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 20vmax;
    float: right;
    top: 10px;
  }
}
/***** End upto 1399 *****/

/***** 992 to 1155 *****/

@media (min-width: 992px) and (max-width: 1155px) {
  .welcome_area {
    width: 100%;
  }
  .welcome_area .kidbad {
    position: absolute;
    width: 12vmax;
    float: right;
    top: 13px;
  }
  .splash {
    left: -40px;
  }
  .welcome-text {
    position: absolute;
    left: -135px;
    top: 30px;
  }
  .welcome-text > h1 {
    font-size: 45px;
    line-height: 1.7;
    text-align: center;
  }
  .goodkid {
    position: absolute;
    float: right;
    width: 35vmax;
    left: 80px;
    z-index: -1;
  }
  .kidbad-2 {
    position: absolute;
    width: 14vmax;
    right: 1px;
    top: 18px;
  }
}

/***** End 992 to 1155 *****/
/***** 429 to 259 *****/
@media (min-width: 429px) and (max-width: 458px) {
  .bookus {
    position: absolute;
    left: 120px;
  }
}
/***** End 429 to 259 *****/

/***** 429 to 412*****/
@media (min-width: 391px) and (max-width: 412px) {
  .bookus {
    position: absolute;
    left: 120px;
  }
}
/***** End 429 to 259 *****/

/***** 320 to 345 *****/
@media (min-width: 320px) and (max-width: 345px) {
  .bookus {
    position: relative;
    left: 30px;
    width: 50%;
  }
}
/***** End 320 to 345 *****/

/***** 361 to 373 *****/
@media (min-width: 361px) and (max-width: 373px) {
  .bookus {
    position: absolute;
    left: 110px;
  }
}
/***** End 361 to 373 *****/
/***** 376 to 388 *****/
@media (min-width: 376px) and (max-width: 388px) {
  .bookus {
    position: absolute;
    left: 110px;
  }
}
/***** End 376 to 388 *****/

/***** 415 to 426 *****/
@media (min-width: 415px) and (max-width: 426px) {
  .bookus {
    position: absolute;
    left: 130px;
  }
}
/***** End 415 to 426 *****/

/***** 280 to 319 *****/
@media (min-width: 280px) and (max-width: 319px) {
  .bookus {
    position: relative;
    width: 50%;
    left: 10px;
  }
  .welcome_area {
    width: 100%;
    height: 400px;
  }
  .welcome_area .kidbad {
    position: absolute;
    float: left;
    top: 100px;
  }
  .welcome-text {
    top: 25px;
  }
  .welcome-text > h1 {
    font-size: 23px;
    line-height: 1.7;
    text-align: center;
    margin-right: 50px;
  }
  .splash {
    left: 40px;
    width: 80%;
  }
  .goodkid {
    position: absolute;
    float: left;
    width: 20vmax;
    left: -140px;
    z-index: -1;
  }
  .kidbad-2 {
    display: none;
  }
  .section-heading > span {
    font-size: 30px;
    padding-top: 20px;
  }
  .info > h1 {
    font-size: 15px !important;
  }
  .info > button {
    text-align: center;
    position: relative;
    left: 55px;
  }
  .service_text > img {
    padding: 50px;
  }
  .modal-backdrop {
    --bs-backdrop-zindex: 0 !important;
    --bs-backdrop-bg: none !important;
  }
  .image > img {
    padding-top: 50px;
  }
}
/***** End 280 to 319 *****/
